@font-face {
  font-family: "iconfont"; /* Project id 2749046 */
  src: url('iconfont.woff2?t=1629209138255') format('woff2'),
       url('iconfont.woff?t=1629209138255') format('woff'),
       url('iconfont.ttf?t=1629209138255') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghuguanli:before {
  content: "\e60b";
}

.icon-shangpinguanli:before {
  content: "\e619";
}

.icon-shujuguanli:before {
  content: "\e69b";
}

.icon-dingdanguanli:before {
  content: "\e6aa";
}

.icon-quanxianguanli:before {
  content: "\e6ab";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-mima:before {
  content: "\e609";
}

